<h1>{{ showing_type_name }} Feedback for {{ address }}</h1>
<h2>Time of Showing: {{ meeting_time }}</h2>
<h2>Agent: {{ user.fullname }} {{ user.national_phone_number }}</h2>

{% for question in questions %}
    <h3>{{ question.title }}</h3>

    {% if question.answer_value %}
        <p>{{ question.answer_value }}</p>
    {% else %}
        <ul>
            {% for option in question.options %}
                <div>
                    <input type="checkbox" disabled {% if option.selected %}checked{% endif %}>
                    <label>{{ option }}</label>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}